<div class="container">
    <div class="row">
        <p class="text-end">Hola {{persona}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i class="fa fa-sign-out-alt"></i></a>
        </p>
    </div>
</div>